/* ****************************************************************************************************
 *                                    table
 ************************************************************************************************* */

.ant-table {
  .ant-table-container {
    .ant-table-body {
      td.ant-table-cell {
        padding: 4px;
        font-size: 12px;
      }
    }
  }
}

/* ****************************************************************************************************
 *                                    button
 ************************************************************************************************* */

.ant-btn.ant-btn-link.ant-btn-sm {
  font-size: 12px;
}
