@import "./colors.less";

/* ****************************************************************************************************
 *                                    Margin
 ************************************************************************************************* */

each(range(4, 20, 4), {
  .mt-@{value} {
    margin-top: (@value + 0px);
  }
  .mr-@{value} {
    margin-right: (@value + 0px);
  }
  .mb-@{value} {
    margin-bottom: (@value + 0px);
  }
  .ml-@{value} {
    margin-left: (@value + 0px);
  }
});

/* ****************************************************************************************************
 *                                    Padding
 ************************************************************************************************* */

each(range(4, 20, 4), {
  .pt-@{value} {
    padding-top: (@value + 0px);
  }
  .pr-@{value} {
    padding-right: (@value + 0px);
  }
  .pb-@{value} {
    padding-bottom: (@value + 0px);
  }
  .pl-@{value} {
    padding-left: (@value + 0px);
  }
});

/* ****************************************************************************************************
 *                                    Font
 ************************************************************************************************* */
each(range(14, 24, 2), {
  .ft-@{value} {
    font-size: (@value + 0px);
  }
});

/* ****************************************************************************************************
*                                    font-color
************************************************************************************************* */
.color-red {
  color: @red;
}
.color-333 {
  color: @text;
}
.color-666 {
  color: #666;
}
.color-purple {
  color: @purple;
}
.color-orange {
  color: @orange;
}
.color-pink {
  color: @pink;
}
.color-anchor {
  color: @anchor;
}

/* ****************************************************************************************************
 *                                    布局
 ************************************************************************************************* */
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}

.flex,
.inline-flex {
  &.justify-center {
    justify-content: center;
  }
  &.justify-end {
    justify-content: flex-end;
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.align-center {
    align-items: center;
  }
  &.align-right {
    align-items: flex-end;
  }

  each(range(4, 12, 4), {
    &.gap-@{value} {
      gap: (@value + 0px);
    }
  });
}

.grid {
  display: grid;
  each(range(4, 12, 4), {
    &.gap-@{value} {
      gap: (@value + 0px);
    }
  });
}

.flex-align-center {
  display: flex;
  align-items: center;
}

/* ****************************************************************************************************
 *                                    鼠标
 ************************************************************************************************* */
.cursor-pointer {
  cursor: pointer;
}

/* ****************************************************************************************************
 *                                    Position
 ************************************************************************************************* */
.absolute-center {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
