/* ****************************************************************************************************
 *                                    鼠标
 ************************************************************************************************* */
.cursor-pointer {
  cursor: pointer;
}
/* ****************************************************************************************************
*                                    Colors
************************************************************************************************* */
.color-000 {
  color: #000;
}
.color-333 {
  color: #333;
}
.color-666 {
  color: #666;
}
.color-999 {
  color: #999;
}
.color-888 {
  color: #888;
}
.color-ccc {
  color: #ccc;
}
.color-eee {
  color: #eee;
}
.color-fff {
  color: #fff;
}
.color-fff {
  color: #fff;
}
.color-theme {
  color: #4067cf;
}
.color-red {
  color: #f92d4f;
}
.color-icon-red {
  color: #f44949;
}
.color-orange {
  color: #ff9749;
}
/* ****************************************************************************************************
 *                                    Link
 ************************************************************************************************* */
.is-link {
  color: #4067cf;
}
.is-link:hover {
  color: #5180ff;
  cursor: pointer;
}
/*
* 链接hover
* 使用: .hover:link
*/
.hover\:link:hover {
  color: #5180ff;
}
/* ****************************************************************************************************
*                                    stock-colors
************************************************************************************************* */
.is-stock {
  /* text */
  /* background */
  /* border */
}
.is-stock.rise {
  color: #f92d4f;
}
.is-stock.fall {
  color: #09ab5a;
}
.is-stock.flat {
  color: #333333;
}
.is-stock.rise-orange {
  color: #ff9749;
}
.is-stock.rise-bg {
  background-color: #fff2f4;
}
.is-stock.fall-bg {
  background-color: #eefff6;
}
.is-stock.flat-bg {
  background-color: #f4f4f4;
}
.is-stock.rise-bd {
  border-color: #ffb2bf;
}
.is-stock.fall-bd {
  border-color: #9ee7c3;
}
.is-stock.flat-bd {
  border-color: #e9e9e9;
}
[lang='en-US'] .is-stock {
  /* text */
  /* background */
  /* border */
}
[lang='en-US'] .is-stock.rise {
  color: #09ab5a;
}
[lang='en-US'] .is-stock.fall {
  color: #f92d4f;
}
[lang='en-US'] .is-stock.rise-bg {
  background-color: #eefff6;
}
[lang='en-US'] .is-stock.fall-bg {
  background-color: #fff2f4;
}
[lang='en-US'] .is-stock .rise-bd {
  border-color: #9ee7c3;
}
[lang='en-US'] .is-stock .fall-bd {
  border-color: #ffb2bf;
}
/* ****************************************************************************************************
*                                    Font-Size
************************************************************************************************* */
.font-10 {
  font-size: 10px;
}
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-22 {
  font-size: 22px;
}
.font-24 {
  font-size: 24px;
}
/* ****************************************************************************************************
 *                                    font-weight
 ************************************************************************************************* */
.font-weight-400 {
  font-weight: 400;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-800 {
  font-weight: 800;
}
/* ****************************************************************************************************
*                                    Margin & Padding
* eg.
*
* 四周，5px
* .m-5 { margin: 5px;}
*
* 水平方向，5px
* .mx-5 { margin: 0px 5px;}
*
* 垂直方向，5px
* .my-5 { margin: 5px 0px;}
*
* 顶部，5px
* .mt-5 { margin-top: 5px;}
*
* 右侧，5px
* .mr-5 { margin-right: 5px;}
************************************************************************************************* */
.m-0 {
  margin: 0px;
}
.mx-0 {
  margin-right: 0px;
  margin-left: 0px;
}
.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.mt-0 {
  margin-top: 0px;
}
.mr-0 {
  margin-right: 0px;
}
.mb-0 {
  margin-bottom: 0px;
}
.ml-0 {
  margin-left: 0px;
}
.m-5 {
  margin: 5px;
}
.mx-5 {
  margin-right: 5px;
  margin-left: 5px;
}
.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mt-5 {
  margin-top: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.m-10 {
  margin: 10px;
}
.mx-10 {
  margin-right: 10px;
  margin-left: 10px;
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.m-15 {
  margin: 15px;
}
.mx-15 {
  margin-right: 15px;
  margin-left: 15px;
}
.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.mr-15 {
  margin-right: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}
.ml-15 {
  margin-left: 15px;
}
.m-20 {
  margin: 20px;
}
.mx-20 {
  margin-right: 20px;
  margin-left: 20px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.m-25 {
  margin: 25px;
}
.mx-25 {
  margin-right: 25px;
  margin-left: 25px;
}
.my-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.mt-25 {
  margin-top: 25px;
}
.mr-25 {
  margin-right: 25px;
}
.mb-25 {
  margin-bottom: 25px;
}
.ml-25 {
  margin-left: 25px;
}
.m-30 {
  margin: 30px;
}
.mx-30 {
  margin-right: 30px;
  margin-left: 30px;
}
.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.mr-30 {
  margin-right: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
.ml-30 {
  margin-left: 30px;
}
.p-0 {
  padding: 0px;
}
.px-0 {
  padding-right: 0px;
  padding-left: 0px;
}
.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.pt-0 {
  padding-top: 0px;
}
.pr-0 {
  padding-right: 0px;
}
.pb-0 {
  padding-bottom: 0px;
}
.pl-0 {
  padding-left: 0px;
}
.p-5 {
  padding: 5px;
}
.px-5 {
  padding-right: 5px;
  padding-left: 5px;
}
.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.pt-5 {
  padding-top: 5px;
}
.pr-5 {
  padding-right: 5px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pl-5 {
  padding-left: 5px;
}
.p-10 {
  padding: 10px;
}
.px-10 {
  padding-right: 10px;
  padding-left: 10px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.p-15 {
  padding: 15px;
}
.px-15 {
  padding-right: 15px;
  padding-left: 15px;
}
.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.pt-15 {
  padding-top: 15px;
}
.pr-15 {
  padding-right: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pl-15 {
  padding-left: 15px;
}
.p-20 {
  padding: 20px;
}
.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}
.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.p-25 {
  padding: 25px;
}
.px-25 {
  padding-right: 25px;
  padding-left: 25px;
}
.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.pt-25 {
  padding-top: 25px;
}
.pr-25 {
  padding-right: 25px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pl-25 {
  padding-left: 25px;
}
.p-30 {
  padding: 30px;
}
.px-30 {
  padding-right: 30px;
  padding-left: 30px;
}
.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.pt-30 {
  padding-top: 30px;
}
.pr-30 {
  padding-right: 30px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pl-30 {
  padding-left: 30px;
}
/* ****************************************************************************************************
*                                    Layout-Width & Layout-Height
************************************************************************************************* */
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
/* ****************************************************************************************************
*                                    Layout-Flex
************************************************************************************************* */
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.inline-block {
  display: inline-block;
}
.flex.flex-wrap,
.inline-flex.flex-wrap {
  flex-wrap: wrap;
}
.flex.justify-start,
.inline-flex.justify-start {
  justify-content: flex-start;
}
.flex.justify-end,
.inline-flex.justify-end {
  justify-content: flex-end;
}
.flex.justify-center,
.inline-flex.justify-center {
  justify-content: center;
}
.flex.justify-between,
.inline-flex.justify-between {
  justify-content: space-between;
}
.flex.justify-around,
.inline-flex.justify-around {
  justify-content: space-around;
}
.flex.justify-evenly,
.inline-flex.justify-evenly {
  justify-content: space-evenly;
}
.flex.items-start,
.inline-flex.items-start {
  align-items: flex-start;
}
.flex.items-end,
.inline-flex.items-end {
  align-items: flex-end;
}
.flex.items-center,
.inline-flex.items-center {
  align-items: center;
}
.flex.items-baseline,
.inline-flex.items-baseline {
  align-items: baseline;
}
.flex.items-stretch,
.inline-flex.items-stretch {
  align-items: stretch;
}
.flex .flex-2,
.inline-flex .flex-2 {
  flex: 2;
}
/* ****************************************************************************************************
 *                                    Grid
 ************************************************************************************************* */
.grid {
  display: grid;
}
/* ****************************************************************************************************
 *                                    Gap
 ************************************************************************************************* */
.grid.flex-col,
.flex.flex-col,
.inline-flex.flex-col {
  flex-direction: column;
}
.grid.row-gap-10,
.flex.row-gap-10,
.inline-flex.row-gap-10 {
  row-gap: 10px;
}
.grid.column-gap-20,
.flex.column-gap-20,
.inline-flex.column-gap-20 {
  column-gap: 20px;
}
.grid.gap-5,
.flex.gap-5,
.inline-flex.gap-5 {
  gap: 5px;
}
.grid.gap-10,
.flex.gap-10,
.inline-flex.gap-10 {
  gap: 10px;
}
.grid.gap-14,
.flex.gap-14,
.inline-flex.gap-14 {
  gap: 14px;
}
.grid.gap-15,
.flex.gap-15,
.inline-flex.gap-15 {
  gap: 15px;
}
.grid.gap-20,
.flex.gap-20,
.inline-flex.gap-20 {
  gap: 20px;
}
.grid.gap-28,
.flex.gap-28,
.inline-flex.gap-28 {
  gap: 28px;
}
.grid.gap-y-20,
.flex.gap-y-20,
.inline-flex.gap-y-20 {
  row-gap: 20px;
}
/* ****************************************************************************************************
*                                    多行打点
* 3行，超出打点
* .line-clamp-3
************************************************************************************************* */
.line-clamp-1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.line-clamp-2 {
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.line-clamp-3 {
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.line-clamp-4 {
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.line-clamp-5 {
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
/* ****************************************************************************************************
*                                    清除浮动
************************************************************************************************* */
.clear:after {
  clear: both;
  content: '.';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
/* ****************************************************************************************************
 *                                    Text-Align
 ************************************************************************************************* */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
/* ****************************************************************************************************
 *                                    Border
 ************************************************************************************************* */
.br-4 {
  border-radius: 4px;
}
.br-8 {
  border-radius: 8px;
}
.br-12 {
  border-radius: 12px;
}
